<header>
    <h1>{{pageTitle}}</h1>
    <div style="width: 100%">
        <div style="width:50% float:left">
            <p><a href="/">home</a></p>
        </div>
        <div style="width:10% float:left">
            <p><a href="/about">about</a></p>
        </div>
        <div style="width:10% float:left">
            <p><a href="/project">project</a></p>
        </div>
    </div>
</header>