<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>Some Website</title>
    </head>
    <body>
        <h1>Will be right back!</h1>
        <p>"Site is under maintance please wait and try again later. Thank you for your patiences"</p>
    </body>
</html>